In [41]:
import numpy as np
import pandas as pd
from IPython.display import display
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Ridge
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression


file = "train.csv"
data = pd.read_csv(file)
data['hh_totalmembers'].describe()
data = data.drop('surveyid', axis=1)
data = data.drop('survey_date', axis=1)
data.head(n=5)

,village,femaleres,age,married,children,hhsize,edu,hh_children,hh_totalmembers,cons_nondurable,...,given_mpesa,amount_given_mpesa,received_mpesa,amount_received_mpesa,net_mpesa,saved_mpesa,amount_saved_mpesa,early_survey,depressed,day_of_week
0,91,1,28.0,1,4,6,10,0,NaN,0.00000,...,0,0.0,0,0.000000,0.000000,1,0.000000,0,0,5
1,57,1,23.0,1,3,5,8,0,NaN,0.00000,...,0,0.0,1,4.804611,4.804611,0,0.000000,0,1,3
2,115,1,22.0,1,3,5,9,0,NaN,0.00000,...,0,0.0,0,8.007685,8.007685,1,0.000000,0,0,5
3,97,1,27.0,1,2,4,10,2,4.0,378.83292,...,0,0.0,0,0.000000,0.000000,1,1.249199,0,0,0
4,42,0,59.0,0,4,6,10,4,6.0,258.67188,...,0,0.0,0,0.000000,0.000000,0,0.000000,0,0,3

In [27]:
n_records = data.shape[0]
n_depressed = data['depressed'].value_counts()[1]

print("Total number of records: {}".format(n_records))
print("Total number of people depressed: {}".format(n_depressed))

Total number of records: 1143
Total number of people depressed: 193

In [28]:
## Making categorical variables into one-hot vector
cat_variables = ['village','femaleres','married','labor_primary','day_of_week']

one_hot = pd.get_dummies(data, columns = cat_variables)
one_hot.head(n=5)

var_names = list(one_hot) #keeping track of variable names

In [29]:
## Imputing missing values
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
imp.fit(one_hot)
one_hot= imp.transform(one_hot)
train = pd.DataFrame(one_hot)
train.columns = var_names
train.head(n=5)
#train.isnull().sum()

,age,children,hhsize,edu,hh_children,hh_totalmembers,cons_nondurable,asset_livestock,asset_durable,asset_phone,...,married_1,labor_primary_0,labor_primary_1,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6
0,28.0,4.0,6.0,10.0,0.0,4.0,0.00000,0.000000,0.00000,0.000000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,23.0,3.0,5.0,8.0,0.0,4.0,0.00000,0.000000,0.00000,0.000000,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,22.0,3.0,5.0,9.0,0.0,4.0,0.00000,0.000000,0.00000,0.000000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,27.0,2.0,4.0,10.0,2.0,4.0,378.83292,526.671080,196.98904,24.023054,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,59.0,4.0,6.0,10.0,4.0,6.0,258.67188,8.260629,173.52654,19.218445,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [30]:
## Scaling values
scaler = MinMaxScaler()
train = scaler.fit_transform(train)
train = pd.DataFrame(train)
train.columns = var_names
display(train.head(n = 5))

,age,children,hhsize,edu,hh_children,hh_totalmembers,cons_nondurable,asset_livestock,asset_durable,asset_phone,...,married_1,labor_primary_0,labor_primary_1,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6
0,0.148649,0.4,0.454545,0.500000,0.0,0.272727,0.000000,0.000000,0.000000,0.000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.081081,0.3,0.363636,0.388889,0.0,0.272727,0.000000,0.000000,0.000000,0.000,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.067568,0.3,0.363636,0.444444,0.0,0.272727,0.000000,0.000000,0.000000,0.000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.135135,0.2,0.272727,0.500000,0.2,0.272727,0.264620,0.191202,0.052949,0.125,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.567568,0.4,0.454545,0.500000,0.4,0.454545,0.180686,0.002999,0.046642,0.100,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [31]:
X_train = train.drop('depressed', axis=1)
Y_train = train['depressed']


data = pd.read_csv('test.csv')
data = data.drop('surveyid', axis=1)
data = data.drop('survey_date', axis=1)
data['age'] = data['age'].replace({'.d':np.nan})
one_hot = pd.get_dummies(data, columns = cat_variables)
var_names = list(one_hot) #keeping track of variable names
## Imputing missing values
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
imp.fit(one_hot)
one_hot= imp.transform(one_hot)
test = pd.DataFrame(one_hot)
## Scaling values
scaler = MinMaxScaler()
test = scaler.fit_transform(test)
test = pd.DataFrame(test)
test.columns = var_names
Y_test = test['depressed']
X_test = test.drop('depressed', axis=1)


train_list = list(X_train)
test_list = list(X_test)
listy = []
for element in train_list:
    if element not in test_list:
        listy.append(element)
        X_test[element] = 0

        
for element in test_list:
    if element not in train_list:
        listy.append(element)
        X_train[element] = 0

In [44]:

clf = tree.DecisionTreeClassifier(min_samples_leaf=10)


clf.fit(X_train, Y_train)
clf.score(X_test,Y_test)

Y_predicted = clf.predict(X_test)

tots = 0
for i in range(len(Y_test)):
    if Y_predicted[i] != Y_test[i]:
        tots +=1
print("The percentage of predictions that are not the same is {:.2f}%".format(tots/len(Y_predicted)*100))

The percentage of predictions that are not the same is 11.89%

In [45]:
ids = pd.read_csv('test.csv')
ids = ids['surveyid']
ids = pd.DataFrame(ids)
Y_predicted = pd.DataFrame(Y_predicted)
Y_predicted.columns = ['depressed']

sub = pd.merge(ids,Y_predicted,left_index =True,right_index=True)

sub['depressed'] = sub['depressed'].astype(int)
sub.to_csv('andres_parrado_submission1.csv', encoding='utf-8')